<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="africa.ndongoel.travelmanticsalc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.SignUpActivity"
            android:label="Sign up"></activity>
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:label="Sign In" />
        <activity
            android:name=".views.ListDealsActivity"
            android:label="List of Travel deal" />
        <activity
            android:name=".views.DealActivity"
            android:label="New Deal" />
    </application>

</manifest>